h1, h2, h3, h4, h5, h6, p, div {
	font-family: 'Nova Flat', cursive;
}

html, body {
	/*background-color: #A4F77C;*/
	background: linear-gradient(to bottom, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
	/*background-image: url("../images/background.jpg");*/
	padding-top: 35px;
	height: 100%;
	/*color: white;*/
}

/*.navbar {
	margin-bottom: 0px;
}*/

.form-control:focus {
  border-color: #3cc47c;
}

.new-container {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	padding-bottom: 15px;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
		border-radius: 24px;
		border-color: #3cc47c;
}

.btn-primary.btn-outline {
    color: #1e392a;
}

.btn-primary.btn-outline:hover {
		background-color: #1e392a;
		border-color: #3cc47c;
		color: #fff;
}

.btn-primary.btn-outline:focus {
		background-color: #1e392a;
		border-color: #3cc47c;
		color: #fff;
}

.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
	border-color: #3cc47c;
}

.pagination li.active a {
  background-color: #1e392a;
  color: white;
	border-color: #3cc47c;
}

.pagination li:hover:not(.active) a {
	color: black;
  background-color: #ddd;
	border-color: #3cc47c;
}

.pagination li.active:hover a {
	color: black;
  background-color: #3cc47c;
	border-color: #3cc47c;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:55px; /* this needs to be bigger than footer height*/
}

.footer {
	color: black;
  position: relative;
  margin-top: -35px; /* negative value of footer height */
  height: 35px;
  clear:both;
  padding-top:5px;
	/*background-color: #f5f7f9;*/
}

/*Fucking center and crop an image*/
.div-avatar-profile {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 10px;
    position: relative;
}
.img-avatar-profile {
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    /*min-height: 100%;
    min-width: 100%;*/
		height: 150px;
		width: auto;
}
.div-avatar-search {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 10px;
    position: relative;
}
.img-avatar-search {
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    /*min-height: 100%;
    min-width: 100%;*/
		height: 150px;
		width: auto;
}
.div-avatar-message {
    width: 75px;
    height: 75px;
    overflow: hidden;
    margin: 10px;
    position: relative;
}
.img-avatar-message {
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    /*min-height: 100%;
    min-width: 100%;*/
		height: 75px;
		width: auto;
}

hr {
	border-width: 5px 0;
}
